<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OnixVectorDrawing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2F732C1F1CDD0B1900A72A7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F732C331CDD0B1A00A72A7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F732C3E1CDD0B1A00A72A7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
